
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .small{
    font-size: 20px;
  }

  .buttt{
    margin-left: 10px;
  }


  /* .slide-out-right {
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.5s ease-out;
  } */
  
/* When the component comes into view, it slides in from the right */
/* .slide-in-right {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.5s ease-out;
} */